<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.meituan.mapper.CollectionMapper" >
  <resultMap id="BaseResultMap" type="com.yc.meituan.entity.Collections" >
    <id column="CID" property="cid" jdbcType="DECIMAL" />
    <result column="MUID" property="muid" jdbcType="DECIMAL" />
    <result column="GID" property="gid" jdbcType="DECIMAL" />
    <result column="CSTATUS" property="cstatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CID, MUID, GID, CSTATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="int" >
    select 
    <include refid="Base_Column_List" />
    from MEITUAN_COLLECTION
    where CID = #{cid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="int" >
    delete from MEITUAN_COLLECTION
    where CID = #{cid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.yc.meituan.entity.Collections" >
    insert into MEITUAN_COLLECTION (CID, MUID, GID, 
      CSTATUS)
    values (#{cid,jdbcType=DECIMAL}, #{muid,jdbcType=DECIMAL}, #{gid,jdbcType=DECIMAL}, 
      #{cstatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.meituan.entity.Collections" >
    insert into MEITUAN_COLLECTION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        CID,
      </if>
      <if test="muid != null" >
        MUID,
      </if>
      <if test="gid != null" >
        GID,
      </if>
      <if test="cstatus != null" >
        CSTATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=DECIMAL},
      </if>
      <if test="muid != null" >
        #{muid,jdbcType=DECIMAL},
      </if>
      <if test="gid != null" >
        #{gid,jdbcType=DECIMAL},
      </if>
      <if test="cstatus != null" >
        #{cstatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.meituan.entity.Collections" >
    update MEITUAN_COLLECTION
    <set >
      <if test="muid != null" >
        MUID = #{muid,jdbcType=DECIMAL},
      </if>
      <if test="gid != null" >
        GID = #{gid,jdbcType=DECIMAL},
      </if>
      <if test="cstatus != null" >
        CSTATUS = #{cstatus,jdbcType=VARCHAR},
      </if>
    </set>
    where CID = #{cid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.meituan.entity.Collections" >
    update MEITUAN_COLLECTION
    set MUID = #{muid,jdbcType=DECIMAL},
      GID = #{gid,jdbcType=DECIMAL},
      CSTATUS = #{cstatus,jdbcType=VARCHAR}
    where CID = #{cid,jdbcType=DECIMAL}
  </update>
</mapper>