<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.meituan.mapper.EvaluateMapper" >
  <resultMap id="BaseResultMap" type="com.yc.meituan.entity.Evaluate" >
    <id column="EID" property="eid" jdbcType="DECIMAL" />
    <result column="MUID" property="muid" jdbcType="DECIMAL" />
    <result column="OID" property="oid" jdbcType="DECIMAL" />
    <result column="EGRADE_1" property="egrade1" jdbcType="FLOAT" />
    <result column="EGRADE_2" property="egrade2" jdbcType="FLOAT" />
    <result column="EGRADE_3" property="egrade3" jdbcType="FLOAT" />
    <result column="EGRADE_4" property="egrade4" jdbcType="FLOAT" />
    <result column="ECONTENT" property="econtent" jdbcType="VARCHAR" />
    <result column="IMG" property="img" jdbcType="VARCHAR" />
    <result column="HIDENAME" property="hidename" jdbcType="DECIMAL" />
    <result column="TEMP1" property="temp1" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    EID, MUID, OID, EGRADE_1, EGRADE_2, EGRADE_3, EGRADE_4, ECONTENT, IMG, HIDENAME, 
    TEMP1
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from MEITUAN_EVALUATE
    where EID = #{eid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from MEITUAN_EVALUATE
    where EID = #{eid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.yc.meituan.entity.Evaluate" >
    insert into MEITUAN_EVALUATE (EID, MUID, OID, 
      EGRADE_1, EGRADE_2, EGRADE_3, 
      EGRADE_4, ECONTENT, IMG, 
      HIDENAME, TEMP1)
    values (#{eid,jdbcType=DECIMAL}, #{muid,jdbcType=DECIMAL}, #{oid,jdbcType=DECIMAL}, 
      #{egrade1,jdbcType=FLOAT}, #{egrade2,jdbcType=FLOAT}, #{egrade3,jdbcType=FLOAT}, 
      #{egrade4,jdbcType=FLOAT}, #{econtent,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, 
      #{hidename,jdbcType=DECIMAL}, #{temp1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.meituan.entity.Evaluate" >
    insert into MEITUAN_EVALUATE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eid != null" >
        EID,
      </if>
      <if test="muid != null" >
        MUID,
      </if>
      <if test="oid != null" >
        OID,
      </if>
      <if test="egrade1 != null" >
        EGRADE_1,
      </if>
      <if test="egrade2 != null" >
        EGRADE_2,
      </if>
      <if test="egrade3 != null" >
        EGRADE_3,
      </if>
      <if test="egrade4 != null" >
        EGRADE_4,
      </if>
      <if test="econtent != null" >
        ECONTENT,
      </if>
      <if test="img != null" >
        IMG,
      </if>
      <if test="hidename != null" >
        HIDENAME,
      </if>
      <if test="temp1 != null" >
        TEMP1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eid != null" >
        #{eid,jdbcType=DECIMAL},
      </if>
      <if test="muid != null" >
        #{muid,jdbcType=DECIMAL},
      </if>
      <if test="oid != null" >
        #{oid,jdbcType=DECIMAL},
      </if>
      <if test="egrade1 != null" >
        #{egrade1,jdbcType=FLOAT},
      </if>
      <if test="egrade2 != null" >
        #{egrade2,jdbcType=FLOAT},
      </if>
      <if test="egrade3 != null" >
        #{egrade3,jdbcType=FLOAT},
      </if>
      <if test="egrade4 != null" >
        #{egrade4,jdbcType=FLOAT},
      </if>
      <if test="econtent != null" >
        #{econtent,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="hidename != null" >
        #{hidename,jdbcType=DECIMAL},
      </if>
      <if test="temp1 != null" >
        #{temp1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.meituan.entity.Evaluate" >
    update MEITUAN_EVALUATE
    <set >
      <if test="muid != null" >
        MUID = #{muid,jdbcType=DECIMAL},
      </if>
      <if test="oid != null" >
        OID = #{oid,jdbcType=DECIMAL},
      </if>
      <if test="egrade1 != null" >
        EGRADE_1 = #{egrade1,jdbcType=FLOAT},
      </if>
      <if test="egrade2 != null" >
        EGRADE_2 = #{egrade2,jdbcType=FLOAT},
      </if>
      <if test="egrade3 != null" >
        EGRADE_3 = #{egrade3,jdbcType=FLOAT},
      </if>
      <if test="egrade4 != null" >
        EGRADE_4 = #{egrade4,jdbcType=FLOAT},
      </if>
      <if test="econtent != null" >
        ECONTENT = #{econtent,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        IMG = #{img,jdbcType=VARCHAR},
      </if>
      <if test="hidename != null" >
        HIDENAME = #{hidename,jdbcType=DECIMAL},
      </if>
      <if test="temp1 != null" >
        TEMP1 = #{temp1,jdbcType=VARCHAR},
      </if>
    </set>
    where EID = #{eid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.meituan.entity.Evaluate" >
    update MEITUAN_EVALUATE
    set MUID = #{muid,jdbcType=DECIMAL},
      OID = #{oid,jdbcType=DECIMAL},
      EGRADE_1 = #{egrade1,jdbcType=FLOAT},
      EGRADE_2 = #{egrade2,jdbcType=FLOAT},
      EGRADE_3 = #{egrade3,jdbcType=FLOAT},
      EGRADE_4 = #{egrade4,jdbcType=FLOAT},
      ECONTENT = #{econtent,jdbcType=VARCHAR},
      IMG = #{img,jdbcType=VARCHAR},
      HIDENAME = #{hidename,jdbcType=DECIMAL},
      TEMP1 = #{temp1,jdbcType=VARCHAR}
    where EID = #{eid,jdbcType=DECIMAL}
  </update>
</mapper>