<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.meituan.mapper.GoodsIntroMapper" >
  <resultMap id="BaseResultMap" type="com.yc.meituan.entity.GoodsIntro" >
    <id column="GID" property="gid" jdbcType="DECIMAL" />
    <result column="SID" property="sid" jdbcType="DECIMAL" />
    <result column="B_RETIME" property="bRetime" jdbcType="VARCHAR" />
    <result column="B_USETIME" property="bUsetime" jdbcType="VARCHAR" />
    <result column="B_ORDERTIP" property="bOrdertip" jdbcType="VARCHAR" />
    <result column="B_PARLOR" property="bParlor" jdbcType="VARCHAR" />
    <result column="B_PACK" property="bPack" jdbcType="VARCHAR" />
    <result column="B_SERVE" property="bServe" jdbcType="VARCHAR" />
    <result column="B_LIMITTIP" property="bLimittip" jdbcType="VARCHAR" />
    <result column="B_PROMPT" property="bPrompt" jdbcType="VARCHAR" />
    <result column="D_TAOCAN" property="dTaocan" jdbcType="VARCHAR" />
    <result column="D_PRICE1" property="dPrice1" jdbcType="FLOAT" />
    <result column="D_COUNT" property="dCount" jdbcType="DECIMAL" />
    <result column="TEMP1" property="temp1" jdbcType="VARCHAR" />
    <result column="TEMP2" property="temp2" jdbcType="VARCHAR" />
    <result column="TEMP3" property="temp3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    GID, SID, B_RETIME, B_USETIME, B_ORDERTIP, B_PARLOR, B_PACK, B_SERVE, B_LIMITTIP, 
    B_PROMPT, D_TAOCAN, D_PRICE1, D_COUNT, TEMP1, TEMP2, TEMP3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from MEITUAN_GOODS_INTRO
    where GID = #{gid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from MEITUAN_GOODS_INTRO
    where GID = #{gid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.yc.meituan.entity.GoodsIntro" >
    insert into MEITUAN_GOODS_INTRO (GID, SID, B_RETIME, 
      B_USETIME, B_ORDERTIP, B_PARLOR, 
      B_PACK, B_SERVE, B_LIMITTIP, 
      B_PROMPT, D_TAOCAN, D_PRICE1, 
      D_COUNT, TEMP1, TEMP2, 
      TEMP3)
    values (#{gid,jdbcType=DECIMAL}, #{sid,jdbcType=DECIMAL}, #{bRetime,jdbcType=VARCHAR}, 
      #{bUsetime,jdbcType=VARCHAR}, #{bOrdertip,jdbcType=VARCHAR}, #{bParlor,jdbcType=VARCHAR}, 
      #{bPack,jdbcType=VARCHAR}, #{bServe,jdbcType=VARCHAR}, #{bLimittip,jdbcType=VARCHAR}, 
      #{bPrompt,jdbcType=VARCHAR}, #{dTaocan,jdbcType=VARCHAR}, #{dPrice1,jdbcType=FLOAT}, 
      #{dCount,jdbcType=DECIMAL}, #{temp1,jdbcType=VARCHAR}, #{temp2,jdbcType=VARCHAR}, 
      #{temp3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.meituan.entity.GoodsIntro" >
    insert into MEITUAN_GOODS_INTRO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gid != null" >
        GID,
      </if>
      <if test="sid != null" >
        SID,
      </if>
      <if test="bRetime != null" >
        B_RETIME,
      </if>
      <if test="bUsetime != null" >
        B_USETIME,
      </if>
      <if test="bOrdertip != null" >
        B_ORDERTIP,
      </if>
      <if test="bParlor != null" >
        B_PARLOR,
      </if>
      <if test="bPack != null" >
        B_PACK,
      </if>
      <if test="bServe != null" >
        B_SERVE,
      </if>
      <if test="bLimittip != null" >
        B_LIMITTIP,
      </if>
      <if test="bPrompt != null" >
        B_PROMPT,
      </if>
      <if test="dTaocan != null" >
        D_TAOCAN,
      </if>
      <if test="dPrice1 != null" >
        D_PRICE1,
      </if>
      <if test="dCount != null" >
        D_COUNT,
      </if>
      <if test="temp1 != null" >
        TEMP1,
      </if>
      <if test="temp2 != null" >
        TEMP2,
      </if>
      <if test="temp3 != null" >
        TEMP3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gid != null" >
        #{gid,jdbcType=DECIMAL},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=DECIMAL},
      </if>
      <if test="bRetime != null" >
        #{bRetime,jdbcType=VARCHAR},
      </if>
      <if test="bUsetime != null" >
        #{bUsetime,jdbcType=VARCHAR},
      </if>
      <if test="bOrdertip != null" >
        #{bOrdertip,jdbcType=VARCHAR},
      </if>
      <if test="bParlor != null" >
        #{bParlor,jdbcType=VARCHAR},
      </if>
      <if test="bPack != null" >
        #{bPack,jdbcType=VARCHAR},
      </if>
      <if test="bServe != null" >
        #{bServe,jdbcType=VARCHAR},
      </if>
      <if test="bLimittip != null" >
        #{bLimittip,jdbcType=VARCHAR},
      </if>
      <if test="bPrompt != null" >
        #{bPrompt,jdbcType=VARCHAR},
      </if>
      <if test="dTaocan != null" >
        #{dTaocan,jdbcType=VARCHAR},
      </if>
      <if test="dPrice1 != null" >
        #{dPrice1,jdbcType=FLOAT},
      </if>
      <if test="dCount != null" >
        #{dCount,jdbcType=DECIMAL},
      </if>
      <if test="temp1 != null" >
        #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null" >
        #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null" >
        #{temp3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.meituan.entity.GoodsIntro" >
    update MEITUAN_GOODS_INTRO
    <set >
      <if test="sid != null" >
        SID = #{sid,jdbcType=DECIMAL},
      </if>
      <if test="bRetime != null" >
        B_RETIME = #{bRetime,jdbcType=VARCHAR},
      </if>
      <if test="bUsetime != null" >
        B_USETIME = #{bUsetime,jdbcType=VARCHAR},
      </if>
      <if test="bOrdertip != null" >
        B_ORDERTIP = #{bOrdertip,jdbcType=VARCHAR},
      </if>
      <if test="bParlor != null" >
        B_PARLOR = #{bParlor,jdbcType=VARCHAR},
      </if>
      <if test="bPack != null" >
        B_PACK = #{bPack,jdbcType=VARCHAR},
      </if>
      <if test="bServe != null" >
        B_SERVE = #{bServe,jdbcType=VARCHAR},
      </if>
      <if test="bLimittip != null" >
        B_LIMITTIP = #{bLimittip,jdbcType=VARCHAR},
      </if>
      <if test="bPrompt != null" >
        B_PROMPT = #{bPrompt,jdbcType=VARCHAR},
      </if>
      <if test="dTaocan != null" >
        D_TAOCAN = #{dTaocan,jdbcType=VARCHAR},
      </if>
      <if test="dPrice1 != null" >
        D_PRICE1 = #{dPrice1,jdbcType=FLOAT},
      </if>
      <if test="dCount != null" >
        D_COUNT = #{dCount,jdbcType=DECIMAL},
      </if>
      <if test="temp1 != null" >
        TEMP1 = #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null" >
        TEMP2 = #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null" >
        TEMP3 = #{temp3,jdbcType=VARCHAR},
      </if>
    </set>
    where GID = #{gid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.meituan.entity.GoodsIntro" >
    update MEITUAN_GOODS_INTRO
    set SID = #{sid,jdbcType=DECIMAL},
      B_RETIME = #{bRetime,jdbcType=VARCHAR},
      B_USETIME = #{bUsetime,jdbcType=VARCHAR},
      B_ORDERTIP = #{bOrdertip,jdbcType=VARCHAR},
      B_PARLOR = #{bParlor,jdbcType=VARCHAR},
      B_PACK = #{bPack,jdbcType=VARCHAR},
      B_SERVE = #{bServe,jdbcType=VARCHAR},
      B_LIMITTIP = #{bLimittip,jdbcType=VARCHAR},
      B_PROMPT = #{bPrompt,jdbcType=VARCHAR},
      D_TAOCAN = #{dTaocan,jdbcType=VARCHAR},
      D_PRICE1 = #{dPrice1,jdbcType=FLOAT},
      D_COUNT = #{dCount,jdbcType=DECIMAL},
      TEMP1 = #{temp1,jdbcType=VARCHAR},
      TEMP2 = #{temp2,jdbcType=VARCHAR},
      TEMP3 = #{temp3,jdbcType=VARCHAR}
    where GID = #{gid,jdbcType=DECIMAL}
  </update>
</mapper>