<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.meituan.mapper.GoodsMapper" >
	<select id="selectGoods" resultType="GoodsInfo">
		select gid, gtitle1,gtitle2, img, text, gprice1, gprice2, gsoldcount from meituan_goods_info
	</select>
</mapper>