<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.meituan.mapper.GoodsInfoMapper" >
	<select id="selectGoodsInfo" parameterType="int" resultType="GoodsBean">
		select g.gid,s.sid, g.gtitle1,g.gtitle2,g.privilege, g.img, g.text, g.gsoldcount, 
		g.gprice1, g.gprice2, m.b_retime, m.d_taocan from meituan_seller_info s inner join meituan_goods_info g 
		on s.sid = g.sid inner join meituan_goods_intro m on g.gid = m.gid and g.gid =1112

	</select>
</mapper>