<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.meituan.mapper.SellerInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yc.meituan.entity.SellerInfo" >
    <id column="SID" property="sid" jdbcType="DECIMAL" />
    <result column="SACCOUNTS" property="saccounts" jdbcType="VARCHAR" />
    <result column="SPWD" property="spwd" jdbcType="VARCHAR" />
    <result column="SADDRESS" property="saddress" jdbcType="VARCHAR" />
    <result column="SSHOPNAME" property="sshopname" jdbcType="VARCHAR" />
    <result column="STYPE" property="stype" jdbcType="VARCHAR" />
    <result column="SNAME" property="sname" jdbcType="VARCHAR" />
    <result column="SEMAIL" property="semail" jdbcType="VARCHAR" />
    <result column="SLICENSE" property="slicense" jdbcType="VARCHAR" />
    <result column="SPHONE" property="sphone" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="TEMP1" property="temp1" jdbcType="VARCHAR" />
    <result column="TEMP2" property="temp2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SID, SACCOUNTS, SPWD, SADDRESS, SSHOPNAME, STYPE, SNAME, SEMAIL, SLICENSE, SPHONE, 
    STATUS, TEMP1, TEMP2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from MEITUAN_SELLER_INFO
    where SID = #{sid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from MEITUAN_SELLER_INFO
    where SID = #{sid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.yc.meituan.entity.SellerInfo" >
    insert into MEITUAN_SELLER_INFO (SID, SACCOUNTS, SPWD, 
      SADDRESS, SSHOPNAME, STYPE, 
      SNAME, SEMAIL, SLICENSE, 
      SPHONE, STATUS, TEMP1, 
      TEMP2)
    values (#{sid,jdbcType=DECIMAL}, #{saccounts,jdbcType=VARCHAR}, #{spwd,jdbcType=VARCHAR}, 
      #{saddress,jdbcType=VARCHAR}, #{sshopname,jdbcType=VARCHAR}, #{stype,jdbcType=VARCHAR}, 
      #{sname,jdbcType=VARCHAR}, #{semail,jdbcType=VARCHAR}, #{slicense,jdbcType=VARCHAR}, 
      #{sphone,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, #{temp1,jdbcType=VARCHAR}, 
      #{temp2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.meituan.entity.SellerInfo" >
    insert into MEITUAN_SELLER_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        SID,
      </if>
      <if test="saccounts != null" >
        SACCOUNTS,
      </if>
      <if test="spwd != null" >
        SPWD,
      </if>
      <if test="saddress != null" >
        SADDRESS,
      </if>
      <if test="sshopname != null" >
        SSHOPNAME,
      </if>
      <if test="stype != null" >
        STYPE,
      </if>
      <if test="sname != null" >
        SNAME,
      </if>
      <if test="semail != null" >
        SEMAIL,
      </if>
      <if test="slicense != null" >
        SLICENSE,
      </if>
      <if test="sphone != null" >
        SPHONE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="temp1 != null" >
        TEMP1,
      </if>
      <if test="temp2 != null" >
        TEMP2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=DECIMAL},
      </if>
      <if test="saccounts != null" >
        #{saccounts,jdbcType=VARCHAR},
      </if>
      <if test="spwd != null" >
        #{spwd,jdbcType=VARCHAR},
      </if>
      <if test="saddress != null" >
        #{saddress,jdbcType=VARCHAR},
      </if>
      <if test="sshopname != null" >
        #{sshopname,jdbcType=VARCHAR},
      </if>
      <if test="stype != null" >
        #{stype,jdbcType=VARCHAR},
      </if>
      <if test="sname != null" >
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="semail != null" >
        #{semail,jdbcType=VARCHAR},
      </if>
      <if test="slicense != null" >
        #{slicense,jdbcType=VARCHAR},
      </if>
      <if test="sphone != null" >
        #{sphone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="temp1 != null" >
        #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null" >
        #{temp2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.meituan.entity.SellerInfo" >
    update MEITUAN_SELLER_INFO
    <set >
      <if test="saccounts != null" >
        SACCOUNTS = #{saccounts,jdbcType=VARCHAR},
      </if>
      <if test="spwd != null" >
        SPWD = #{spwd,jdbcType=VARCHAR},
      </if>
      <if test="saddress != null" >
        SADDRESS = #{saddress,jdbcType=VARCHAR},
      </if>
      <if test="sshopname != null" >
        SSHOPNAME = #{sshopname,jdbcType=VARCHAR},
      </if>
      <if test="stype != null" >
        STYPE = #{stype,jdbcType=VARCHAR},
      </if>
      <if test="sname != null" >
        SNAME = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="semail != null" >
        SEMAIL = #{semail,jdbcType=VARCHAR},
      </if>
      <if test="slicense != null" >
        SLICENSE = #{slicense,jdbcType=VARCHAR},
      </if>
      <if test="sphone != null" >
        SPHONE = #{sphone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="temp1 != null" >
        TEMP1 = #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null" >
        TEMP2 = #{temp2,jdbcType=VARCHAR},
      </if>
    </set>
    where SID = #{sid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.meituan.entity.SellerInfo" >
    update MEITUAN_SELLER_INFO
    set SACCOUNTS = #{saccounts,jdbcType=VARCHAR},
      SPWD = #{spwd,jdbcType=VARCHAR},
      SADDRESS = #{saddress,jdbcType=VARCHAR},
      SSHOPNAME = #{sshopname,jdbcType=VARCHAR},
      STYPE = #{stype,jdbcType=VARCHAR},
      SNAME = #{sname,jdbcType=VARCHAR},
      SEMAIL = #{semail,jdbcType=VARCHAR},
      SLICENSE = #{slicense,jdbcType=VARCHAR},
      SPHONE = #{sphone,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      TEMP1 = #{temp1,jdbcType=VARCHAR},
      TEMP2 = #{temp2,jdbcType=VARCHAR}
    where SID = #{sid,jdbcType=DECIMAL}
  </update>
</mapper>