<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.meituan.mapper.UorderMapper" >
	<select id="showAllUorder" parameterType="int" resultType="UorderBean">
		select o.oid,o.oidentifier,o.muid,o.gid,o.ocount,o.ostatus,g.gprice2,g.gtitle1,g.img,g.sid,gi.b_retime from 
			meituan_uorder o inner join meituan_goods_info g on o.gid = g.gid left join meituan_goods_intro gi 
				on o.gid = gi.gid where muid = #{muid} order by opaytime desc 	
	</select>
	
	<select id="listCollections" parameterType="int" resultType="CollectionBean">
		select c.cid,c.muid,c.gid,gi.b_retime,g.img,g.gtitle1,g.gprice2 from meituan_collection c inner join
		 meituan_goods_intro gi on c.gid = gi.gid inner join meituan_goods_info g on g.gid = c.gid and c.muid = #{muid}
	</select>
	
	<select id="listNoPj" parameterType="int" resultType="NoevalBean">
		select * from noeval where muid = #{muid} order by oid desc
	</select>
	
	<update id="updatePlStatus" parameterType="int">
		update meituan_uorder set pjstatus = 1 where oid = #{oid}
	</update>
	
	<insert id="addUorder" parameterType="Uorder">
		insert into meituan_uorder (oid,oidentifier,muid,gid,otime,opwd,opaytime,ocount,oprice)
			values(SEQ_MEITUAN_UORDER_OID.nextval,#{oidentifier},#{muid},#{gid},sysdate,#{opwd},sysdate,#{ocount},#{oprice})
	</insert>
	
	<select id="showOrderDetail" parameterType="Uorder" resultType="UorderBean">
		select to_char(o.otime,'yyyy-MM-dd HH:mm:ss') otime, to_char(o.opaytime,'yyyy-MM-dd HH:mm:ss') opaytime,o.*,g.gtitle1 from meituan_uorder o inner join meituan_goods_info g on o.gid = g.gid and o.oid = #{oid} and o.muid = #{muid}
	</select>
</mapper>