<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.meituan.mapper.UserInfoMapper" >
	<select id="login" parameterType="com.yc.meituan.entity.UserInfo" resultType="UserInfo">
		select * from meituan_user_info where UEMAIL= #{uemail} and UPWD = #{upwd} and USTATUS = 1
	</select>
	
	<select id="findEmail" parameterType="String" resultType="UserInfo">
		select * from meituan_user_info where UEMAIL= #{uemail}
	</select>
	
	<insert id="reg" parameterType="com.yc.meituan.entity.UserInfo" >
		<!-- insert into meituan_user_info values(seq_meituanuser.nextval,#{uaccounts},#{upwd},#{uemail},default,default,default,null,null,null,null,null,default,#{uaddr},sysdate) -->
		insert into meituan_user_info(MUID,UACCOUNTS,UPWD,UEMAIL,UADDR,USTATUS) values(seq_meituanuser.nextval,#{uaccounts},#{upwd},#{uemail},#{uaddr},default)
	</insert>
	
	<update id="changeStatus" parameterType="String">
		update meituan_user_info set USTATUS=1 where UEMAIL=#{uemail}
	</update>
</mapper>