body {
	font-family: Microsoft Yahei;
}
.navbar .collapse {
	margin-left: 306px; 
}
.content .container-fluid .row .col-xs-2 {
	background-color: #FFC;
	border-right: 1px #ccc solid;
	margin-top: -20px;
}
.content .container-fluid .row .col-xs-2 ul li {
	margin: 20px 0;
}
.col-xs-10 h2{
	margin-top: 7px;
}
table {
	border: 1px solid #EEE;
}
#add-goods-info, #update-goods-info {
	display: none;
}
form {
	position: relative;
	border: 1px solid #EEE;
	border-radius: 5px;
	padding: 10px 0;
	margin: 10px auto;
}
.form-margins {
	margin-bottom: 10px;
}
form label {
	margin-left: 30px;
}
#update-img, #add-img {
	width: 179px;
	height: auto;
}
#select-list {
	width: 120px;
	margin: 10px 0;
}
footer {
	width: 100%;
	position: absolute;
	border-top: 1px solid #CCC;
	background-color: #FFF;
}
#goods-page, #order-page, #infom-page, #install-page {
	display: none;
}
.order-status, .order-pwd {
	width: 120px;
	text-align: center;
}
.fonts-in-page {
	font-size: 40px;
}
.btn-in-index {
	margin:0 30px 0 30px;
	width: 200px;
	height: 150px;
}
.sale-chart {
	width: 100%;
}
.xiajia{
	margin-left: 10px;
}
.sale-chart h3{
	padding: 20px 0 10px 30px;
}
#chart-annotation {
	float: left;
	margin-left: 20px;
}
.chart-color {
	display: inline-block;
	width: 20px;
	height: 10px;
}
#show-evaluate {
	width: 100%;
	height: 550px;
	overflow: auto;
	border: 1px solid #EEE;
	background-color: #FDFDFD;
	border-radius: 10px;
	box-shadow: 2px 2px 3px #EEE inset;
	padding-bottom: 20px;
}
.evaluate-content {
	width: 90%;
	margin: 0 auto;
}

.head-portrait {
	position: absolute;
	top: -1px;
	left: -67px; 
}
.head-portrait img {
	width: 52px;
	height: 52px;
	border-radius: 90px;
	border: 1px solid #EEE;
}
.contents {
	position: relative;
	top: 20px;
	float: right;
	min-height: 70px;
	width: 83%;
	border: 1px solid #EEE;
	border-radius: 5px;
	background-color: #FFF;
	padding: 5px 10px;
}
.evaluate-points {
	float: right;
	position: relative;
	top: auto;
	font-size: 12px;
	margin-top: 5px;
}
.evaluate-time {
	margin-right: 110px;
}
.point-zero {
	background-image: url(../images/pingfenxin_2.png);
	width: 40%;
	position: absolute;
	right: 0;
	top: 0;
}
.point-five {
	background-image: url(../images/pingfenxin_1.png);
	width: 80px;
	position: absolute;
	right: 0;
	top: -1px;
}
.goods-name {
	display: inline-block;
	margin-right: 20px;
}