@charset "utf-8";
body {
	font-size: 14px;
}
#user_id {
	color: #F76120;
}
#head {
	display: inline-block;
}
#cart_count {
	color: #F76120;
}
#fair-header {
	width: 980px;
	height: 95px;
}
#meituan_logo {
	margin-top: 20px;
	float: left;
}
#head2{
	width:75%;
	height:100%;
}
#steps {
	float: left;
	list-style: none;
	margin-left: 40px;
	color: #666;
	font-size: 12px;
}
.step-1 {
	width: 250px;
	height: 23px;
	text-align: center;
	margin-top: 40px;
	border-bottom: #2BB8AA 3px solid;
}
.step-2 {
	width: 250px;
	height: 23px;
	text-align: center;
	margin-top: 40px;
	border-bottom: #E0E0E0 3px solid;
}

/*header部分样式*/
#wrapper {
	width:980px;
}
#first-step {
	width: 980px;
	min-height: 200px;
	display: block;
}
#waring {
	width: 978px;
	height:48px;
	border: #F5D8A7 1px solid;
	background-color: #FFF6DB;
	margin: 10px 0;
	display: none;
}
#waring-content{
	font-size: 16px;
	color: #999;
	margin-left: 410px;
	padding-top: 12px;
	display: inline-block;
}
#close-waring {
	font-size: 18px;
	color: #999;
	font-weight: 900px;
	margin-left: 381px;
}
#waring a:hover {
	color:#2BB8AA;
}
.fair-project-head {
	width: 570px;
	height: 25px;
	background-color: #F7F7F7;
	text-align: left;
	padding: 7px 20px;
	color: #666;
}
.fair-price-head {
	width: 140px;
	height: 25px;
	background-color: #F7F7F7;
	padding: 7px 0;
	color: #666;
}
.fair-amount-head {
	width: 140px;
	height: 25px;
	background-color: #F7F7F7;
	padding: 7px 15px;
	color: #666;
	text-align: right;
}
.fair-project {
	width: 570px;
	height: 50px;
	text-align: left;
	padding: 5px 20px;
	color: #666;
	border-bottom: 1px solid #E5E5E5;
}
.fair-price {
	width: 140px;
	height: 50px;
	padding: 5px 0;
	color: #666;
	text-align: center;
	border-bottom: 1px solid #E5E5E5;
}
.updateCount{
	width:34px;
	height:34px;	
}
#amount_0{
	width:40px;
	height:32px;
	text-align: center;
}
.lower {
	background: #eee none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    padding: 0 6px 2px;
    width:34px;
    height:34px;
    position:relative;
    top:1px;
}
#amount {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 1px medium;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 0;
    width: 40px;
    text-align: center;
    margin: 0 -4px;
}
.adder {
	background: #eee none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    padding: 0 6px 2px;
    width:34px;
    height:34px;
    position:relative;
    top:1px;
}
.fair-amount {
	width: 140px;
	height: 50px;
	padding: 5px 15px;
	color: #666;
	text-align: right;
	border-bottom: 1px solid #E5E5E5;
}
#amount-price {
	color: #F76120;
}
#fair-total {
	width: 200px;
	height: 50px;
	float: right;
	margin: 10px 0 0 0;
}
#total-content {
	color: #666;
	font-weight: 700;
	display: inline-block;
	margin-left: 55px;
	margin-top:25px;
}
#total-price {
	color: #F76120;
	font-size: 18px;
	font-weight: 700;
}
#submit-deal {
	margin-top: 70px;
}
#submit-fair {
	font-size: 20px;
    font-weight: 400;
    padding: 5px 20px 4px;
    background-image: linear-gradient(to bottom, #2ec3b4, #2db3a6);
    letter-spacing: 0.1em;
    border-width: 0 0 1px;
    line-height: 1.5;
    border-color: #008177;
    color: #fff;
    float: right;
}
/*first-step部分样式*/

#second-step {
	width: 980px;
	height: 230px;
	display: none;
	border: 1px solid #EEE;
}
#second-step h3 {
	font-size: 24px;
	text-align: center;
	margin-top: 50px;
}
#second-step p {
	line-height: 240%;
	font-size: 14px;
	margin-left: 230px;
	color: #666;
}
#second-step p a {
	color: #2BB8AA;
}
#second-step p a:hover {
	text-decoration: underline;
}
#check-order {
	margin-left: 230px;
	color: #2BB8AA;
	font-weight: 700;
	background-color: #dedede;
    background-image: linear-gradient(to bottom, #f7f7f7, #dedede);
    background-size: 100% auto;
    border-color: #e3e3e3 #e3e3e3 #aaa;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-align: center;
    padding: 10px;
    display: inline-block;
    margin-top: 3px;
}
#check-order:hover {
	background-image: linear-gradient(to bottom, #f7f7f7, #eee);
}
#return-index {
	margin-left: 20px;
	color: #2BB8AA;
	font-weight: 700;
	background-color: #dedede;
    background-image: linear-gradient(to bottom, #f7f7f7, #dedede);
    background-size: 100% auto;
    border-color: #e3e3e3 #e3e3e3 #aaa;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-align: center;
    padding: 10px;
    display: inline-block;
    margin-top: 3px;
}
#return-index:hover {
	background-image: linear-gradient(to bottom, #f7f7f7, #eee);
}
/*second-step部分样式*/


