@charset "utf-8";
/* CSS Document */

*{
padding:0 center;
margin:0;	
}
body {
    color: #666;
    font: 400 14px/1.5 "Hiragino Sans GB","WenQuanYi Micro Hei",tahoma,sans-serif;
}
a{
	font-size:12px;
	 color: #2bb8aa;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.header{
	padding-left:180px;
	width:980px;
	
	padding-top: 10px; padding-bottom: 10px; height: 39px; padding-left: 180px;
}

.header_left_logo{
	pading:20px 0px 0px 0px;
	float:left;
	font-size:27px;
	font-weight:bold;
	color:#2bb8aa;
	width:54px;
	height:36px;
	text-decoration:none;
	
}
.logo_right{
	margin:10px 0px 10px 5px;
	border-left:1px solid #CCC ;
}
.header_right{
	width:158px;
	height:39px;
	padding:20px 0px 20px 10px;
	float:right;
}
.header_right .tip{
	color:#666;
	font-size:14px;
}
.header_right .header_right_login{
	height:18px;
	font-size:14px;
	text-decoration:none;
	text-align:center;
	color:#FFF;
	background-color:#2bb8aa;
    background-image: linear-gradient(to bottom, #2ec3b4, #2db3a6);
    background-size: 100% auto;
	font-weight: 400;
	width: 26px; 
	padding: 3px 10px;
	border-bottom-width: 1px;
}
.line{border-top:2px solid #2bb8aa ;}
.content {
    margin: 50px auto;
    max-width: 980px;
	
}
.headline {
    border-bottom: 2px solid #ddd;
    color: #333;
    font-family: "Hiragino Sans GB"," Microsoft YaHei","WenQuanYi Micro Hei",arial,sans-serif;
    font-size: 18px;
    margin-bottom: 19px;
}
.headline .headline_content {
    border-bottom: 2px solid #333;
    display: inline-block;
    margin-bottom: -2px;
    padding: 12px 0;
    text-align: left;
}
.form_wrapper {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding: 67px 0 58px;
}
.form_content {
    margin: 0 auto;
    width: 400px;
}
.form_field {
    padding: 8px 0 8px 110px;
    position: relative;
	width: 290px;
	height: 37px;
}
.form_field label {
    color: #333;
    font-size: 14px;
    left: 0;
    padding-top: 6px;
    position: absolute;
    text-align: right;
    width: 100px;
}
.form_field .captcha .cf{
	width: 300px; height: 38px;
}
.form_field .f_text {
    border: 1px solid #aaa;
    height: 24px;
    line-height: 24px;
    padding: 5px;
    vertical-align: top;
    width: 248px;
	
}
.f_text .verify_code{
    float:left;
    margin-right:2px;
}
.f_text .verify_code{
	width:100px;
}
.btn {
    background-color: #2db3a6;
    background-image: linear-gradient(to bottom, #2ec3b4, #2db3a6);
    background-size: 100% auto;
}
.btn, .btn-hot, .btn-normal {
    -moz-user-select: none;
    background-repeat: repeat-x;
    border-radius: 2px;
    border-style: solid;
    border-width: 0 0 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1.5;
    padding: 7px 20px 6px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.btn, .btn.hover, .btn:focus, .btn:hover {
    border-color: #008177;
    color: #fff;
}
input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}



.verify_tip_title {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    margin: 15px 0 7px;
}
.find_ways {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    list-style: outside none none;
	width:998px;
	height: 100px; 
	padding-left: 0px;
}
#way_find{
	background-image:url(../images/email_1.png);
	width:998px;
	height:100px;
	
}
#find_button{
	float:right;
}
.verify_cont{
	 background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding: 50px 20px;
}
.cf::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.verify_help_title {
    height: 50px;
    margin: 0 auto 20px;
    padding-left: 110px;
    position: relative;
    width: 340px;
}
.cf {
}

.form_field {
    margin: 0 auto 14px;
    width: 340px;
}
.form_field {
    padding: 8px 0 8px 110px;
    position: relative;
}

.resend_tip {
    margin: 0 auto 30px;
    padding: 20px;
    width: 340px;
}
.common_bubble {
    background-color: #fff6db;
    border: 1px solid #f5d8a7;
    box-shadow: 0 1px 1px #dedede;
    color: #666;
    position: relative;
	height: 98px; padding-top: 20px; padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: "Hiragino Sans GB"," Microsoft YaHei","WenQuanYi Micro Hei",arial,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-size:18px;
}
.form_wrapper .form_content .retrieve_title{
	 height: auto;
    margin: 0 auto 14px;
    padding: 8px 0 8px 110px;
    position: relative;
    width: 350px;
} 

.form_wrapper .form_content .retrieve_title .title{
	color: #333;
    font-family: "Hiragino Sans GB"," Microsoft YaHei","WenQuanYi Micro Hei",arial,sans-serif;
    font-size: 18px;
}
.content .form_wrapper .form_field{
	padding: 8px 0 8px 110px;
    position: relative;
}
.pw_strength{
    position: absolute;
	background-color:#666;
	left: 586px; top: 384px;
	}

.pw_strength .pw_strength_label{
	border-right: 2px solid #fff;
    color: #fff;
    display: block;
    float: left;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 85px;
	background-color:#CCC;
	
}
.retrieve_result {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding: 67px 0 58px;
}
.retrieve_result_tip{
	 color: #333;
    font-family: "Hiragino Sans GB"," Microsoft YaHei","WenQuanYi Micro Hei",arial,sans-serif;
    font-size: 18px;
    line-height: 50px;
	}
 .tip_title{
	 border-left-width: 0px; padding-left: 300px;
	 } 
.resend_tip_list {
    color: #666;
    font-size: 12px;
	 margin: 0;
    padding: 0;
}
.resend_tip_list li {
    list-style: inside none disc;
	
}







li {
    list-style: outside none none;
}



.line_foot{
	border-top:1px solid #CCC ;
}
.footer{
	
	width:980px;
	height:40px;
	color:#999;
	font-size:12px;	
}

.foot{
	padding-left:180px;
	line-height:40px;
	margin-top:2px;
	text-align:center;
}
.foot a{
	color:#999;
	text-decoration: none;
}
