@charset "utf-8";
/* CSS Document */
#content{
	height:510px;
	width:980px;
	background:#FFF;
	float:left;
	margin-left:174px;
}
.nav{
	height:28px;
	color: #666;
    font-size: 12px;
	margin-top:10px;
	margin-bottom:10px;
	border-bottom: 1px solid #ccc;
}
.black__green{
	color:black;
}
#promise{
	border-top: 1px solid #eee;
    margin-top: 8px;
    padding-top: 10px;
    weight:500px;
    height:28px;
    background: #ccc;
}
.nav a:hover{
	text-decoration:underline;
	font-size:12px;
	color:#2BB8AA;
}
#body_midl_top{
	width:980px;
	height:66px;
	padding-bottom:5px;
	margin-bottom:10px;
	display:inline-block;
}
#body_mid1_top1{
	width:980px;
	height:42px;
}
.title-prefix{
	float:left;
	line-height:42px;
	font-size:28px;
	font-family:"微软雅黑";
	font-weight:700;
}
.title{
	float:left;
	line-height:42px;
}
#body_mid1_top2{
	width:980px;
	height:24px;
	
}
.tishi1{
	font-size:16px;
	line-height:24px;
	font-weight:400;
	color:#666666;
	}
#down_left{
	width:460px;
	height:345px;
	float:left;
}
#big_image{
	width:460px;
	height:280px;
}
#big_image img{
	width:460px;
	height:280px;
	}
#small_image{
	width:460px;
	height:51px;
	margin-top:10px;
}
#small_image img{
	width:78px;
	height:45px;
	padding:2px;
	border:1px #2BB8AA solid ;
}
#down_right{
	width:500px;
	height:346;
	margin-left:20px;
	float:left;
}
#price{
	width:500px;
	height:41px;
}
.price_left{
	float:left;
	font-size:12px;
	color:#999;
}

.price-symbol{
	float:left;
	margin-left:8px;
	font-size:14px;
	color:#F76120;
	padding-top:5px;
}
.price{
	float:left;
	font-size:34px;
	color:#F76120;
}
.promote-default{
	float:left;
	margin-left:8px;
	padding-top:15px;
	color:#999;
}
.status{
	float:left;
	margin-left:15px;
	font-size:14px;
	color:#999;
}
.item sans-serif{
	float:left;
	margin-left:10px;
	padding-top:15px;
	font-size:16px;
	color:99B3CD;
}

.item{
	width:40px;
	height:16px;
	margin:0 61px;
	font-size:12px;
	color:#999999;
	line-height:18px;
	
}
.sold-count{
	color:orange;
}
#item-viewed{
	float:left;
	width:162px;
	border-right:1px solid;
	border-right-color:#eee;
}
.item-viewed{
	width:40px;
	height:16px;
	margin:0 61px;
}
.rating-stars{
	color:orange;
	font-size:14px;
	line-height:18px;
}
#look-normal{
	text-decoration:none;
	font-size:14px;
	color:#999999;
}
#comments-count{
	width:164px;
	float:left;
}
.comments-count{
	width:40px;
	height:16px;
	margin:0 62px;
}
.comment-count{
	font-size:14px;
	color:orange;
	line-height:18px;
}
#data{
	float:left;
	width:500px;
	height:28px;
	margin:10px 0;
	background_color:#C36;
}
.detail-leading{
	width:60px;
	height:28px;
	padding-left:10px;
	color:#999999;
	font-size:12px;
}
.valid-through{
	width:100px;
	height:16px;
	color:#666666;
	font-size:12px;
	margin-left:10px;
}
.expiry-notice{
	width:120px;
	height:16px;
	margin-left:6px;
	color:orange;
	font-size:12px;
}
#package{
	width:500px;
	height:43px;
	padding-top:25px;
}
.deal-component{
	width:60px;
	height:28px;
	padding-left:10px;
	color:#999999;
	font-size:12px;
	margin-right:25px;
}
.selection-item{
	width:68px;
	height:50px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:5px;
	margin-right:5px;
	border:2px #2BB8AA solid;
	font-size:12px;
	color:#999999;
}
#count{
	width:500px;
	height:34px;
	margin-top:20px;
	margin-bottom:20px;
}
.deal-component-detail-leading{
	float:left;
	font-size:12px;
	color:#999999;
	width:60px;
	height:28px;
	padding-left:10px;
}
#reduce_item{
	float:left;
	background-color:#EEEEEE;
	width:35px;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:2px;
	height:32px;
	border:1px #eeeeee solid;
	font-size:16px;
}
#J-cart-quantity{
	float:left;
	width:40px;
	height:30px;
	border:1px  #eeeeee solid;
	text-align:center;
	font-size:14px;
}
#add_item{
	float:left;
	background-color:#eeeeee;
	width:35px;
	padding-left:6px;
	padding-right:6px;
	border:1px #eeeeee solid;
	margin-right:10px;
	height:32px;
	font-size:16px;
	}
.price-symbol{
	float:left;
	margin-left:8px;
	font-size:14px;
	color:#F76120;
	padding-top:5px;
}
.price{
	float:left;
	font-size:34px;
	color:#F76120;
}
.promote-default{
	float:left;
	margin-left:8px;
	padding-top:15px;
	color:#999;
}
.status{
	float:left;
	margin-left:15px;
	font-size:14px;
}
.sans-serif{
	float:left;
	margin-left:10px;
	font-size:16px;
	color:99B3CD;
}
#evaluate{
	width:500px;
	height:29px;
	margin-top:15px;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	padding-top:6px;
}
#item{
	float:left;
	width:162px;
	height:23px;
	border-right:1px solid #eee;
}
.item{
	width:40px;
	height:23px;
	margin:0 61px;
	font-size:14px;
	color:#999999;
	line-height:23px;
	
}
.sold-count{
	color:orange;
}
.item-viewed{
	width:40px;
	height:16px;
	margin:0 61px;
}
.rating-stars{
	color:orange;
	font-size:14px;
	line-height:18px;
}
#look-normal{
	text-decoration:none;
	font-size:14px;
	color:#999999;
}
#comments-count{
	width:164px;
	float:left;
}
.comments-count{
	width:40px;
	height:16px;
	margin:0 62px;
}
.comment-count{
	font-size:14px;
	color:orange;
	line-height:18px;
}
.detail-leading{
	width:60px;
	height:28px;
	padding-left:10px;
	color:#999999;
	font-size:12px;
}
.valid-through{
	width:100px;
	height:16px;
	color:#666666;
	font-size:12px;
	margin-left:10px;
}
.expiry-notice{
	width:120px;
	height:16px;
	margin-left:6px;
	color:orange;
	font-size:12px;
}
#package{
	width:500px;
	height:43px;
	padding-top:25px;
}
.deal-component{
	width:60px;
	height:28px;
	padding-left:10px;
	color:#999999;
	font-size:12px;
	margin-right:35px;
}
.countbutton{
	cursor:pointer;
}
#warn{
	color:red;
	display:none;
}
#count{
	width:500px;
	height:34px;
	margin-top:20px;
	margin-bottom:20px;
}
.deal-component-detail-leading{
	float:left;
	font-size:12px;
	color:#999999;
	width:60px;
	height:28px;
	padding-left:10px;
}
#reduce_item{
	float:left;
	background-color:#EEEEEE;
	width:35px;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:2px;
	height:32px;
	border:1px #eeeeee solid;
	font-size:16px;
}
#J-cart-quantity{
	float:left;
	width:40px;
	height:30px;
	border:1px  #eeeeee solid;
	text-align:center;
	font-size:14px;
}
#add_item{
	float:left;
	background-color:#eeeeee;
	width:35px;
	padding-left:6px;
	padding-right:6px;
	border:1px #eeeeee solid;
	margin-right:10px;
	height:32px;
	font-size:16px;
	}
#waring {
	width: 250px;
	height:34px;
	margin-right:55px;
	display: none;
}
#waring-content{
	font-size: 14px;
	color:red;
	padding-top: 12px;
	display: inline-block;
}
#close-waring {
	font-size: 18px;
	color: red;
	font-weight: 900px;
}
#waring a:hover {
	color:#2BB8AA;
}
#accont{
	width:430px;
	height:50px;
	padding-left:70px;
	margin-top:15px;
	
}
#sall_button{
	width:169px;
	height:50px;
	margin-right:6px;
	float:left;
	background-color:#2EBFB1;
	border-color:#2EBFB1;
	
}
#goods_car{
	float:left;
	width:62px;
	height:48px;
	border:1px #F5F5F5 solid;
	margin-right:10px;
}
.goods_car_logo img{
	width:24px;
	height:27px;
	padding:7px 14px 7px 14px;
}
#favorite{
	width:70px;
	height:13px;
	margin-top:19px;
	margin-right:10px;
	float:left;
	font-size:12px;
	display:inline-block;
}
.favorite_star img{
	width:16px;
	height:16px;
	margin-right:2px;
	float:left;
}
#share{
	width:54px;
	height:13px;
	margin-top:19px;
	margin-right:10px;
	float:left;
	font-size:12px;
	display:inline-block;
}
.F-glob-share img{
	width:16px;
	height:18px;
	margin-right:2px;
	float:left;
}
.share-tip:hover{
	color:#2bb8aa;
	text-decoration:none;
}
.service_promise{
	width:60px;
	height:28px;
	padding-left:10px;
	font-size:12px;
	color:#999999;
	clear:both;
	float:left;
}
#service_admin{
	width:410px;
	height:28px;
}
#service_admin a{
	width:36px;
	height:22px;
	line-height:22px;
	padding-left:25px;
	margin-right:3px;
}
#body_mid2{
	width:980px;
	height:217px;
	margin-top:5px;
}
#body_mid2_left{
	clear:both;
	float:left;
	width:702px;
}


#body_mid2_others{
	float:left;
	
}
.other_tr{
	border-bottom:2px #999 solid;
	border-top:1px #CCC solid;
	display:block;
}
.other_tr1{
	border-bottom:1px #CCC solid;
	display:block;
}
.other1{
	width:490px;
	font-size:18px;
	font-weight:800;
	color:#333;
	line-height:59px;
}
.other2{
	width:70px;
	font_size:14px;
	font-weight:700;
	color:#333;
	text-align:center;
}
.other3{
	width:70px;
	font_size:14px;
	font-weight:700;
	color:#333;
	text-align:center;
}
.other4{
	width:70px;
	font_size:14px;
	font-weight:700;
	color:#333;
	text-align:center;
}
.other1_1{
	width:490px;
	font_size:12px;
	line-height:36px;
	color:#999;
	float:left;
}
.other_1_a{
	font-size:14px;
	font-weight:600;
}
.other_1_a:hover{
	text-decoration:none;
	color:#2bb8aa;
}
.other2_1{
	width:70px;
	font-size:14px;
	line-height:36px;
	text-align:center;
}
.other2_1_a{
	color:#f76120;
	font-weight:600;
}
.other3_1{
	width:70px;
	font-size:14px;
	line-height:36px;
	color:#999;
	text-align:center;
}
.other3_1 a:hover{
	text-decoration:none;
	color:#2bb8aa;
}
.other4_1{
	width:70px;
	font-size:14px;
	line-height:36px;
	color:#999;
	text-align:center;
}
.other4_1 a:hover{
	text-decoration:none;
	color:#2bb8aa;
}
#body_mid2_right{
	float:right;
	width:240px;
	height:215px;
	border:1px #CCC solid;
}
.mid2_guanggao1{
	margin-left:16px;
	float:left;
	width:208px;
	height:112px;
	border-bottom:1px thick;
}
.mid2_guanggao2{
	margin-right:16px;
	float:right;
	width:208px;
	height:102px;
	margin:0 auto;
}
#foods_introduce{
	float:left;
	width:702px;
	margin-left:174px;
	margin-top:40px;
}
#mid_nav1_1{
	width:702px;
	height:40px;
}
#mid_nav1_1 ul{
	display:inline-block;
	width:700px;
	height:40px;
}
#mid_nav1_1 ul li {
	width: 175px;
}
.goods_add{
	float:left;
	width:139px;
	height:41px;
}
.must_know{
	float:left;
	width:139px;
	height:41px;
}

.xiangqing{
	float:left;
	width:139px;
	height:41px;
}

.introduce{
	float:left;
	width:139px;
	height:41px;
}
.evaluation{
	float:left;
	width:173px;
	height:40px;
	background-color:#F9F9F9;
	line-height:41px;
	font-size:14px;
	font-weight:400px;
	border:1px #DDDDDD solid;
	text-align:center;	
}
.evaluation:hover {
	border:1px #2bb8aa solid;
	background-color: #2bb8aa;
	color: #fff;
	font-weight: 700;
}
.trem_title{
		border-bottom:#777 solid 2px;
		font-size:20px;
		font-weight:700;
		padding:20px 0 10px;
	}
	.trem_title a{
		color:#333;
	}
	.deal_trem dt{
		font-size:16px;
		background:#f9f9f9;
		width:140px;
		border-bottom: 1px solid #eee;
		line-height:30px;
		min-height:30px;
		padding: 8px 10px;
		text-align: left;
		white-space: pre-wrap;
		word-break: break-all;
		word-wrap: break-word;
		float:left;
		margin:0;
		font-weight:700;
	}
	.deal_trem dd{
		font-size:14px;
		border-left:#eee 1px solid;
		margin-left:160px;
		background:#fff;
		border-bottom: 1px solid #eee;
		line-height:30px;
		min-height:30px;
		padding: 8px 10px;
		text-align: left;
		white-space: pre-wrap;
		word-break: break-all;
		word-wrap: break-word;
		
	}
	.standard_bar{
		border-left:#2bb8aa 6px solid;
		background:#f0f0f0;
		margin-top:20px;
		height:40px;
		line-height:36px;
		padding:0 7px;
		font-weight:700;
	}
	.deal_menu{
		width:702px;
		margin-top:20px;
		border-collapse:collapse;
		border-spacing:0;
	}
	.goods_name{
		text-align:left;
		padding:0 10px;
		font-size:14px;
		border-bottom:#eee 1px solid;
		line-height:40px;
		width:330px;
	}
	.goods_price{
		text-align:center;
		font-size:14px;
		border-bottom:#eee 1px solid;
		line-height:40px;
		width:120px;
	}
	.goods_amount{
		text-align:center;
		font-size:14px;
		border-bottom:#eee 1px solid;
		line-height:40px;
		width:120px;
	}
	.goods_subtotal{
		text-align:right;
		padding:0 10px;
		font-size:14px;
		border-bottom:#eee 1px solid;
		line-height:40px;
	}
	#meituan_price{
		width:702px;
		line-height:20px;
		margin-top:20px;
		text-align:right;
		border-bottom:#eee 1px solid;
		padding-bottom:10px;		
	}
	#meituan-price{
		color:#f76120;
		margin-right:10px;
		font-weight:700;
		font-size:36px;
	}
	.seller_info{
		margin-top:20px;
		margin-left:10px;
	}
	#eva_point{
		text-align:center;
		margin-top:10px;
		height:40px;
		width:702px;
	}
	#aggregate-point{
		color:#f76120;
		font-size:36px;
		font-weight:700;
	}
	#eva_amount{
		text-align:center;
		margin-top:7px;
		margin-bottom:20px;
	}
	#eva_amount span{
		color:#f76120;
	}
	.evaluation_eara{
		width:702px;
	}
	.evaluation_eara ul{
		display: inline-block;
	}
	.evaluation_eara ul li{
		border-bottom:#eee 1px solid;
		border-top:#eee 1px solid;
	}
	.user_info{
		float:left;
		height:110px;
		width:140px;
		text-align:center;
	}
	.user_touxiang{
		margin-top:30px;
	}
	
	.user_id{
		color:#f76120;
	}
	.evaluation_content{
		float:left;
		width:562px;
	}
	.evaluation_content img{
		margin-top:10px;
		float:left;
		margin-bottom:10px;
	}
	.evaluation_content span{
		font-size:12px;
		float:left;
		margin-top:20px;
		margin-left:14px;
	}
	.contents{
		margin-left:20px;
		margin-top:45px;
	}
	#qianggou{
		background:#f76120;
		text-align:center;
		height:35px;
		width:70px;
		margin-top:10px;
		margin-left:60px;
		border:#f76120 2px solid outset;
		color:#fff;
		font-weight:bold;
		font-size:16px;
	}
	.page_nav{
		width:702px;
		height:40px;
		margin-top:30px;
		text-align:center;
		border-bottom:#eee 1px solid;
		padding-bottom:10px;
	}
	.first_page{
		font-size:14px;
		border: 1px solid #eee;
		border-radius: 1px;
		display: inline-block;
		height: 22px;
		min-width: 10px;
		padding: 3px 3px;
		position: relative;
		text-align: center;
		text-decoration: none;
		margin-left:240px;
	}
	.previous{
		font-size:14px;
		border: 1px solid #eee;
		border-radius: 1px;
		display: inline-block;
		height: 22px;
		line-width: 30px;
		padding: 3px 3px;
		position: relative;
		text-align: center;
		text-decoration: none;
		margin-left:15px;
	}
	.next_page{
		font-size:14px;
		border: 1px solid #eee;
		border-radius: 1px;
		display: inline-block;
		height: 22px;
		line-width: 30px;
		padding: 3px 3px;
		position: relative;
		text-align: center;
		text-decoration: none;
		margin-left:15px;
	}
	.last_page{
		font-size:14px;
		border: 1px solid #eee;
		border-radius: 1px;
		display: inline-block;
		height: 22px;
		line-width: 30px;
		padding: 3px 3px;
		position: relative;
		text-align: center;
		text-decoration: none;
		margin-left:15px;
	}
	.deal_buy{
		margin-top:20px;
		border-bottom:#eee 1px solid;
		padding-bottom:10px;
		height:50px;
	}
	#buy_price{
		color:#f76120;
		margin-left:20px;
		float:left;
		margin-top:3px;
	}
	#buy_price strong{
		font-size:38px;
		color:#f76120;
	}
	.seller_price{
		font-weight:700;
		font-size:12px;
		margin-left:80px;
		margin-top:10px;
	}
	#real_price{
		text-decoration:line-through;
	}
	.seller_price p{
		color:#222;
		margin-top:3px;
	}
	#join_cart{
		background:#2ebfb1;
		width:100px;
		padding:5px 10px 4px 10px;
		font-weight:border;
		margin-left:30px;
		border:#2ebfb1 2px solid;
		border-style:outset;
		color:#fff;
		font-weight:bold;
		font-size:16px;
		margin-top:-20px;
	}
	#join_cart:active{
		border-style:inset;
	}
	.back_stars{
		background: url(images/pingfenxin_2.png) no-repeat;
		width: 80px;
		height: 17px;
		position: relative;
		display: block;
	}
	.infact_stars{
		background: url(images/pingfenxin_1.png) no-repeat;
		height: 17px;
		display: block;
		float: left;
	}
	
