@charset "utf-8";
/* CSS Document */
.top_nav{
	margin-left:20px;
}
.top_nav a{
	text-align:center;
	font-size:14px;
	font-family:"微软雅黑";
	color:#2bb8aa;
}
#collection_list{
	height:50px;
	background:#f6f6f6;
}
.goods_text{
	text-align:center;
	color:#666;
	font-size:14px;
}
.collection_detailed{
	border:#000 1px solid;		
}
#move_index{
	color:#2bb8aa;
}
#move_index:hover{
	text-decoration:underline;	
}

#left_nav strong{
	display:block;
	padding:15px 10px 15px 32px;
}
#left_nav li{
	float:none;
	font-size:14px;
	line-height:240%;
	padding-left:45px;
}
.nav_dd_2{
	display:block;
	padding:16px 10px 10px 35px;
}
.nav_dd_3{
	font-size:14px;
	font-family:"微软雅黑";
	padding-left:45px;
	line-height:220%;
}
strong{
	color:#666;
}
#content{
	width:980px;
	background:#fff;
	float:left;
	margin-left:174px;
}
#bw{
	padding-top:10px;
	width:980px;
}
#left_nav{
	width:157px;
	float:left;
	background:#f6f6f6;
	border:#eee solid 1px;
}
#left_nav dl{
	padding:5px 0 0;
	position:relative;
	z-index:2;
}
#left_nav dl ul li{
	float:none;
}
#right_view{
	width:819px;
	float:left;
	border:#eee solid 1px;
}
#left_nav img{
	padding-left:30px;
}

#v0{
	width:819px;
	height:898px;
	display:block;
}
#v1{
	width:819px;
	height:898px;
	display:none;
}
#v2{
	width:819px;
	display:none;
}
#v3{
	width:819px;
	height:898px;
	display:none;
}
#v4{
	width:819px;
	height:898px;
	display:none;
}
#v5{
	width:819px;
	height:898px;
	display:none;
}
#v6{
	width:819px;
	height:898px;
	display:none;
}
#v7{
	width:819px;
	height:898px;
	display:none;
}	
#v8{
	width:819px;
	height:898px;
	display:none;
}

.delete{
	float:right;
}
.orders_body{
	margin-top:20px;
	margin-left:20px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#666;
	width:763px;
}
.order_row{
	margin-top:5px;
	background:#f9f9f9;
	border:#eee 1px solid;
	border-left-color:#f6f6f6;
	border-right-color:#f6f6f6;
	height:100px;
}
#select_1{
	width:100px;
	margin-top:20px;
	margin-left:20px;
}
.orders_head{
	background:#f6f6f6;
	height:30px;
	width:763px;
	margin-left:20px;
	margin-top:15px;
	border:1px #eee solid;
	border-bottom-color:#f6f6f6;
	border-left-color:#f6f6f6;
	border-right-color:#f6f6f6;
}
.images{
	float:left;
	height:61px;
	width:100px;
	margin-left:15px;
	margin-top:20px;
}
.goods_info{
	float:left;
	margin-top:20px;
	margin-left:20px;
	text-align:left;
}
.order_cell_info{
	text-align:center;
	float:left;
	width:345px;
	height:auto;
}
.order_cell_number{
	text-align:center;
	float:left;
	width:62px;
	height:auto;
}
.order_cell_price{
	text-align:center;
	float:left;
	width:93px;
	height:auto;
}
.order_cell_statu{
	text-align:center;
	float:left;
	width:163px;
	height:auto;
}
.order_cell_operate{
	text-align:center;
	float:left;
	width:100px;
	height:auto;
}
.order_title{
	font-size:14px;
	color:#999;
}
.number{
	font-size:12px;
	color:#999;
}
.orders_head p{
	padding-top:5px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#666;
}
.goods_info{
	margin-left:20px;
	margin-top:20px;
	float:left;
}
.info{
	margin-top:20px;
}
#weipingjia{
	margin:20px 20px;
	width:782px;
	height:94%;
}
#v2_jifen{
	padding:8px 16px;
	width:736px;
	height:60px;
	background:#FFF6DB;
	border:1px solid #F5D8A7;
}
#nullv2{
	display:none;
}
#v2_jifen p{
	font-size:14px;
	color:#666666;
}
#v2_guize{
	color:#2BB8AA;
}
#v2_dingdan{
	width:100%;
	background:#990;
	height:80px;
}
.v2_jf_count{
	color:red;
}
.v2_d_div{
	float:left;
}
.mypj{
	border:none;
}
.pjDetail{
	float:left;
	margin-top:20px;
	display:none;
}
.pingjiaLi{
	padding:20px;
	border-bottom:1px solid #eee;
	width:732px;
	margin-bottom:20px;
}
.v2_pingjia{
	border:2px solid #eee;
	padding:2px 12px;
	font-size:12px;
	color:#666;
}
.v2_pingjia:hover{
	color:red;
	border-color:red;
	
}
.v2_d_pingjia{
	margin-left:20px;
}
.v2_pj{
	font-size:14px;
	float:left;
	margin-right:10px;
	display:block;
}
.v2_pingjia_head{
	width:738px;
	height:191px;
}
.v2_pj_head{
	width:100%;
	height:47px;
	background:#eee;
	line-height:47px;
	font-size:14px;
}
.v_de_count{
	margin-left:100px;
	font-size:14px;
	margin-bottom:5px;
}
.v2_pingjia_content{
	border:1px solid #eee;
	height:191px;
	width:738px;
	margin-left:20px;
}
.showimg{
	position:relative;
	top:10px;
	left:10px;
	margin-right:20px;
}
.niming{
	float:right;
	margin-right:20px;
}
.v2_tip{
	font-size:14px;
}
.contentTip{
	margin-left:20px;
}
.pingjiaContent{
	resize:none;
	height:104px;
	width:708px;
	padding:10px 10px;
	border:none;
}
.text_tip{
	display:none;
}
.bb{
	font-size:14px;
	margin-bottom:10px;
	color:#666;
	margin-left:20px;
}
.getcount{
	margin-left:0px;
	margin-top:5px;
}
#pingjiaUl{
	margin-top:30px;
}
.v3_content{
	width:94%;	
	margin:15px auto;
	margin-left:3%;
	border-bottom:1px solid #ccc;
	display:inline-block;
	padding-bottom:20px;
}
.v3_{
	float:left;
}
.v3_img{
	width:81px;
	height:50px;
	background:#39C;
	margin-right:20px;
}
.v3_g_goods{
	font-size:16px;
	color:#666;
}
.v3_grade,.v3_pl_content{
	font-size:14px;
	color:#999;
}
.v3_g_point{
	font-size:18px;	
	color:red;
}

.v0_img{
	width:81px;
	height:50px;
}
.info{
	font-size:12px;
}