@charset "utf-8";
/* CSS Document */
*{
padding:0 center;
margin:0;	
}

.header{
	padding-left:180px;
	width:980px;
	
	padding-top: 10px; padding-bottom: 10px; height: 39px; padding-left: 180px;
}

.header_left_logo{
	pading:20px 0px 0px 0px;
	float:left;
	font-size:27px;
	font-weight:bold;
	color:#2bb8aa;
	width:54px;
	height:36px;
	text-decoration:none;
	
}
.logo_right{
	margin:10px 0px 10px 5px;
	border-left:1px solid #CCC ;
}
.header_right{
	width:158px;
	height:39px;
	padding:20px 0px 20px 10px;
	float:right;
}
.header_right .tip{
	color:#666;
	font-size:14px;
}
.header_right .header_right_login{
	height:18px;
	font-size:14px;
	text-decoration:none;
	text-align:center;
	color:#FFF;
	background-color:#2bb8aa;
    background-image: linear-gradient(to bottom, #2ec3b4, #2db3a6);
    background-size: 100% auto;
	font-weight: 400;
	width: 26px; 
	padding: 3px 10px;
	border-bottom-width: 1px;
}
.line{border-top:2px solid #2bb8aa ;}
.content{
	padding-left:180px;
	width:980px;
	height:542px;
	display:block;
	padding-top: 30px;
}
#form1 textarea:hover {
    border-color: #f76120;
}
.content_mobile{
	padding-left:180px;
	width:980px;
	height:422px;
	display:none;
	padding-top: 30px;
	}
.content_first{
	/*margin-left:0px;*/
	list-style:none;
	width:980px;
	height:34px;
	line-height:34px;
	border-bottom: 2px solid #ccc;
}
ul li{
	list-style:none;
}

element.style {
    position: static;
}
body {
    background-color: #fff;
    color: #666;
    font: 400 14px/1.5 "Hiragino Sans GB","WenQuanYi Micro Hei",tahoma,sans-serif;
}
blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
element.style {
    padding-left: 0;
}
.content_first ul{
	height:32px;
	line-height:34px;
}
.content_first ul li{
	width:124px;
	float:left;
	text-align:center;
} 
.content_first ul li:hover{
	border-bottom:#2bb8aa solid 2px;
}
.content_first ul li  a{
	color: #2bb8aa;
    text-decoration: none;
}
.con_email{
	padding: 8px 0 0px 0px;
	margin-top:20px;
	width:980px;
	height:48px;
	line-height:52px;
	
}
#con_tixing{
	color: #999;
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
    margin-left: 4px;
    padding: 6px 0;
    vertical-align: top;
    padding-top:10px;
}
.con_phone{
	padding: 8px 0 8px 0px;
	margin-top:20px;
	width:980px;
	height:48px;
	line-height:52px;	
    position: relative;

}
 .con_email_txt{ /* .con-email*/
	margin-left:0px;
	width:100px;
	height:27px;
	text-align:right;
	}
.con_email_txt_3{
	font-size:12px;
	color:#FF8800;
}
.con_tex input{
	border:1px solid #CCC;
	display:block;
	height:24px;
	width: 248px;
	 padding: 5px;	
}
.con_mes{
	line-height:52px;
}
.con_username{
	width:980px;
	height:52px;
	line-height:52px;
	
	}
.con_username .con_email_txt{
	margin-left:0px;
	width:100px;
	height:27px;
	text-align:right;
	}
.con_pwd{
	width:980px;
	height:71px;
	line-height:20px;
}
.con_pwd .con_email_txt{
	margin-left:0px;
	width:100px;
	height:27px;
	text-align:right;
	
}
.con_pwd_small {
	background-color:#CCC;
	display:block;
	float:left;
	height:20px;
	text-align:center;
	color:#FFF;
	font-size:12px;
	width: 85px;
	border-right-width: 2px;
}
.con_pwd_midumn {
	margin-left:1px;
	background-color:#CCC;
	display:block;
	width:85px;
	float:left;
	height:20px;
	text-align:center;
	color:#FFF;
	font-size:12px;
	border-right-width: 2px;
}
.con_pwd_strong {
	margin-left:1px;
	background-color:#CCC;
	display:block;
	width:85px;
	float:left;
	height:20px;
	text-align:center;
	color:#FFF;
	font-size:12px;
}
.con_pwd1{
	width:980px;
	height:52px;
	line-height:52px;
	
	}
.con_pwd1 .con_email_txt{
	margin-left:0px;
	width:100px;
	height:27px;
	text-align:right;
	}
.con_city{
	width:980px;
	height:35px;
	line_height:49px;
}
.con_city .con_email_txt{
	margin_left:0px;
	width:100px;;
	height:27px;
	text-align:right;
}
.con_txt_pro select{
	display:block;
	width:120px;
	height:30px;
}
.con_txt_city select{
	display:block;
	width:120px;
	height:30px;
}
/*.con_read{
	width:980px;
	height:37px;
	line-height:37px;
	
}*/
.con_read .con_read_check input{
	display:block;
	background-color:#2bb8aa;
}
.con_read .con_email_txt{
	margin-left:0px;
	width:100px;
	height:27px;
	text-align:right;
	font-size:14px;
	}
.con_yanzheng{
	width:980px;
	height:57px;
	line-height:57px;
}
 .con_yanzheng .con_tex1 input{
	display:block;
	
	height:24px;
	width: 120px; padding: 5px;
}
.con_yanzheng .con_txt_img img{
	border: 1px solid #ccc;
	width: 60px; height: 34px; 
	vertical-align:middle;
}
.con_yanzheng a{
	font-size:12px;
	 color: #2bb8aa;
    text-decoration: none;
}
.con_yanzheng a:hover {
    text-decoration: underline;
}
.con_yanzheng .con_email_txt{
	margin-left:0px;
	width:100px;
	height:27px;
	text-align:right;
	}
.con_http{
	width:980px;
	height:51px;
	line-height:51px;
	
}
.con_http .con_email_txt{
	
	margin-left:0px;
	width:100px;
	height:27px;
	text-align:right;
}
.con_http .con_txt_http input{
	background:#2bb8aa;
	color:#FFF;
	font-size:16px;
	border:medium;
	display:block;
	width:188px;
	height:35px;
}
.yz_email{
	
	color:#F76120;
}
.term{
	width:980px;
	height:27px;
	
}
.con_term{
	margin-left:0px;
	width:117px;
	height:16px;
	text-align:right;
	
}
.term a{
	font-size:12px;
	 color: #2bb8aa;
    text-decoration: none;
}
.term a:hover {
    text-decoration: underline;
}
.content_yz{
	margin:100px 0;
}
.content_yz_main{
	 margin: 0 auto;
    width: 550px;
}
.content_yz_email{
	font-size:18px;
	}
.con_yz_button{
	font-size:13px;
	color:#EAEBC8;
}
.form_field{
	 padding-left: 450px;
	 padding-top:30px;
	width:300px;
	height:40px;
}

.btn {
    background-color: #2db3a6;
    background-image: linear-gradient(to bottom, #2ec3b4, #2db3a6);
    background-size: 100% auto;
}
.form_field_go .btn{
	
    -moz-user-select: none;
    background-repeat: repeat-x;
    border-radius: 2px;
    border-style: solid;
    border-width: 0 0 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1.5;
    padding: 7px 20px 6px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.btn, .btn.hover, .btn:focus, .btn:hover {
    border-color: #008177;
    color: #fff;
}
.line_foot{
	border-top:1px solid #CCC ;
	}
.footer{
	
	width:980px;
	height:40px;
	color:#999;
	font-size:12px;	
}

.foot{
	padding-left:180px;
	line-height:40px;
	margin-top:2px;
	text-align:center;
}
.foot a{
	color:#999;
	text-decoration: none;
}
