@charset "utf-8";
/* CSS Document */

*{
	padding:0px;
	margin:0 auto;
	font-family:"微软雅黑";
}
ul li{
	list-style:none;
}
.header{
	height:160px;
	width:700px;
	margin:0 auto;
}
.header img{
	margin-top:40px;
	width:90px;
	height:70px;
	}
#mainBody{
	height:450px;
	width:1100px;
}
#login_left{
	float:left;
	width:480px;
	height:450px;
	}
#login_mid{
	height:450px;
	width:100px;
	float:left;
	
}
#login_right{
	float:left;
	height:450px;
	width:450px;
	font-size:18px;
	margin-left:50px;	
}
#login_admin{
	float:left;
	width:450px;
}

.f-text{
	width:250px;
}
#login-email{
	float:left;
	height:35px;
	margin-top:20px;
	font-size:14px;
	padding-left:20px;
	
}
#login-password{
	float:left;
	height:35px;
	margin-top:20px;
	font-size:14px;
	padding-left:20px;
}
#tishi{
	float:left;
	display:inline-block;
	margin-top:20px;
	font-size:12px;
	}
#tishi1{
	font-size:14px;
	width:450px;
	height:25px;
}

.forget-password{
	width:450px;
	float:left;
	text-decoration:none;
	color:#2bb8aa;
}
.forget-password:hover{
	text-decoration:underline;
}
#p1{
	float:left;
	margin-top:10px;
	height:21px;
	font-size:14px;
	color:#666;
	}
#p2{
	margin-top:10px;
}
#sign{
	height:21px;
	float:left;
	margin-top:10px;
	text-decoration:none;
	color:#2bb8aa;
}
#sign:hover{
	text-decoration:underline;
}
.login_button{
	float:left;
	margin-top:20px;
	background-color:#2bb8aa;
}

#login_foot{
	width:980px;
	height:24px;
	padding-top:12px;
	padding-bottom:12px;
	border-top:1px solid;
	border-bottom:1px solid;
	border-bottom-color:#cccccc;
	border-top-color:#cccccc;
	margin-bottom:20px;
}
.login_foot_nav{
	float:left;
	width:594px;
	height:24px;
}
.login_foot_return{
	float:left;
	width:276px;
	height:24px;
	display:inline-block;
}
.login_foot_nav li{
	width:64px;
	height:14px;
	float:left;
	border-right:1px solid;
	border-right-color:#cccccc;
	margin-bottom:5px;
	margin-top:5px;
	padding-right:16px;
	text-align:center;
	line-height:14px;
	
}
.login_foot_nav li a{
	line-height:14px;
	text-decoration:none;
	color:#666;
	font-size:12px;
	width:48px;
	height:16px;
	text-align:center;
}
#copyright{
	width:980px;
	height:18px;
	line-height:18px;
	font-size:12px;
	color:#999;
	margin-bottom:30px;
}
#copyright a{
	color:#999;
	text-decoration:none;
}
#copyright a:hover{
	text-decoration:underline;
}